#carrito_cafeteria{
    text-decoration: none;
    font-size: 23px;
    font-family: family_header;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    transition: 300ms all;
 
}

