* { 
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: family_header;
    src: url(/FAMILY/helvetica_barra.otf);
}

.filter {
    display: none;
}


body {
    overflow-x: hidden;
}


h1 {
    position: absolute;
    top: 30px;
    margin-left: 50px;
    letter-spacing: 10px;
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    
    align-items: center;
    justify-content: center;
    z-index: 100;
    color: white;
    text-transform: uppercase;
}

#coffe {
    position: relative;
    top: -10px;
    right: 20px;
}

        /* INICIO HEADER */
#header {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
    url(/IMG/Fondo_inicio.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 1300px;
   
}

#main {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    border-bottom: 2px solid rgb(133, 126, 126);
}

#main li {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

#main li:hover {
    cursor: pointer;
}

#main li a {
    text-decoration: none;
    font-size: 23px;
    font-family: family_header;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    transition: 300ms all;
}

#main li a:hover {
    color: rgb(153, 95, 95);
}

#icon {
    font-size: 30px;
    color: rgb(153, 95, 95);
    
    box-shadow: 16px 10px 23px 7px rgba(153,95,95,0.75);
    -webkit-box-shadow: 16px 10px 23px 7px rgba(153,95,95,0.75);
    -moz-box-shadow: 16px 10px 23px 7px rgba(153,95,95,0.75);
    margin-right: 15px;
}
        /* FINAL DEL HEADER */

        /* BOTONES SUBIR Y BAJAR */
#bajar, #bajar2, #subir, #subir_abajo {
    position: relative;
    top: 500px;
    width: 150px;
    height: 50px;
    border-radius: 300px;
    border: none;
    background-color: transparent;

    box-shadow: inset 1px 1px 23px 7px rgba(153,95,95,0.75);
    -webkit-box-shadow: inset 1px 10px 23px 7px rgba(153,95,95,0.75);
    -moz-box-shadow: inset 1px 1px 23px 7px rgba(153,95,95,0.75);
    font-size: 22px;
    text-transform: uppercase;

    color: #ccc;
    font-family: family_header;
    letter-spacing: 1px;
    transition: all 300ms;
}

#bajar {
    position: relative;
    top: 1100px;
}

#subir:hover, #bajar:hover, #bajar2:hover,#subir_abajo:hover {
    box-shadow: inset 26px 35px 23px 17px rgba(153,95,95,0.75);
    -webkit-box-shadow: inset 16px 35px 23px 17px rgba(153,95,95,0.75);
    -moz-box-shadow: inset 26px 35px 33px 17px rgba(153,95,95,0.75);
    border: solid 3px rgb(153, 95, 95);
    width: 160px;
    height: 60px;
    color: white;
    cursor: pointer;
}

#bajar2 {
    position: absolute;
    left: 90%;
    top: 80%;
}
#icon_bajar, #icon_subir, #icon_subir2 {
    position: absolute;
    top: -80px;
    right: 51px;
    opacity: 1;
    color: #ccc;
    font-size: 50px;
}

#subir{
    position: absolute;
    top: 130px;
    left: 91%;
}

#icon_subir2 {
    position: absolute;
    top: -60px;
}

#subir_abajo {
    position: absolute;
    top: 820px;
    right: 50%;
}

        
#footer_name {
    color: #ccc;
    width: 120px;
    height: 30px;
    font-size: 22px;
}

footer {
    position: absolute;
    left: 85%;
    margin-top: 1200px;
}

#promos {
    display: none;
}