* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
 
}

body {
    background-color: rgb(24, 37, 44);
}



h1 {
    
    position: absolute;
    top: 10px;
    left: 250px;
    letter-spacing: 10px;
    font-size: 65px;
    font-weight: bolder;
    display: flex;
    
    align-items: center;
    justify-content: center;
    z-index: 100;
    color: white;
}

#coffe {
    position: relative;
    right: 20px;
}


        /* NAVEGACION  */

#barra {
    width: 100%;
    height: 85px;
    background: rgb(36, 26, 13);
    border-bottom: solid 1px #ccc;
   
    display: flex;
    justify-content: flex-end;
    
    position: fixed;
   
    overflow: hidden;

    z-index: 1;
}





#main {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    right: 100px;
}

#icon {

    color: white;
    margin-right: 20px;
}


#barra ul li {
    margin-left: 50px;
    width: 200px;
    height: 80px;
   
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    color: wheat;
    font-size: 22px;
    
}


#barra ul li a {
    text-decoration: none;
    color: wheat;
}

    /* BUSCADOR */ 

#buscador {
    position: relative;
    display: flex;
    justify-content: center;
    top: -700px;
    
}

#search {
    background-color: black;
    border-radius: 3%;
    color: wheat;
    font-size: 25px;
    width: 400px;
    padding: 25px;
    box-shadow: -3px 9px 49px 0px rgba(227,187,31,0.75);
    -webkit-box-shadow: -3px 9px 49px 0px rgba(227,187,31,0.75);
    -moz-box-shadow: -3px 9px 49px 0px rgba(227,187,31,0.75);
}

#icon_search{

    position: absolute;
    margin-left: 230px;
    margin-top: 30px;
    
    font-size: 30px;
    color: #ccc;
}

#icon_search:hover {
    cursor: pointer;
}




    /* ICONO PARA BAJAR */

#icon_bajar {
    position: absolute;
    top: -70px;
    left: 39px;
    font-size: 35px;
}


#bajar {
    padding: 25px;
    height: 25px;
    position: relative;
    top: -180px;    
    display: flex;
    align-items: center;
    margin: auto;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: -3px 9px 49px 0px rgba(227,187,31,0.75);
    -webkit-box-shadow: -3px 9px 49px 0px rgba(227,187,31,0.75);
    -moz-box-shadow: -3px 9px 49px 0px rgba(227,187,31,0.75);
    border-radius: 10%;
}

#bajar a {
    color: white;
    text-decoration: none;
}




#quienes_somos {
    border: solid 1px red;
    font-size: 23px;
    color: white;
    letter-spacing: 1px;
    width: 1800px;
    height:500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

}


h2 {
    font-size: 55px;
}


#promos {
    display: none;
}






#cafeteria {
 
    position: relative;
    top: 700px;
  
}



h3 {
    font-size: 55px;
 
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
    color: white;
}

#nuestra_carta {
    width: 1800px;
    height: 1400px;
 
    margin: auto;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    border-top: solid 1px #ccc;
    overflow: hidden;

}


 /* INICIO DE CARDS */

.card {
   
    margin-top: 50px;
    width: 500px;
    height: 500px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 5%;
    overflow: hidden;
    transition: 500ms all;
  
}

.card:hover{
    height: 770px;
}

.span_card {
    color: wheat;
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 500px;
}


  /*CARACTERISTICAS DE LAS CARDS*/

  .parrafo_caracteristicas {
    font-size: 25px;
    color: white;
    margin: 10px;
    border-bottom: solid 1px rgb(32, 62, 87);
    border-radius: 2%;
    text-align: center;
}

.btn_comprar {
    width: 200px;
    border-radius: 5%;
    font-size: 17px;
    letter-spacing: 2px;
    border: solid 1px rgb(0, 140, 255);
    background-color: transparent;
    color: wheat;
    text-transform: uppercase;
    padding: 15px;
   
}

.btn_comprar:focus{
    color: green;
}


.img_card img {
    width: 500px;
    height: 500px;
    
    position: relative;
   
 
}





.card:hover {
    box-shadow: -3px 9px 49px 0px rgba(227,187,31,0.75);
    -webkit-box-shadow: -3px 9px 49px 0px rgba(227,187,31,0.75);
    -moz-box-shadow: -3px 9px 49px 0px rgba(227,187,31,0.75);
    /* width: 1750px;
    height: 500px; */
  
}




    /*EFECTO DE BOTONES DE COMPRAR*/







